



* {
    margin: 0;
    padding: 0;
  
    

}

body {
    background-color: white !important;
}

a:visited, a:hover, a:active {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the text color from the parent element */
  /* Add any other desired styles here */
}

a{
  text-decoration: none !important; /* Remove underline */
  color: inherit !important; /* Inherit the text color from the parent element */
  /* Add any other desired styles here */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .logo {
    margin: 20px 10px 1px 10px; /* Optional: Add margin to the logo for spacing */
}

.line {
    height: 1px;
    background-color: navy;
    margin: 20px 10% 8px 10%;
}


.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 20px;
 
}

.navbar-nav ul li a {
   text-decoration: none;
   color:navy;
   text-transform: uppercase;
}

.navbar-nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: navy;
    position: absolute;
    bottom: -5px;
    left: 0px;
    transition: 0.5s;
}

.navbar-nav ul li:hover::after {
    width: 100%;
  
}



.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.nav-link.active{
    color: rgb(6, 51, 24) !important;
}

.subs{
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;


}



.painting-container {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  max-width: 70%;
}

.painting-image {
  max-width: 300px; /* Adjust as needed */
  margin-right: 20px; /* Space between image and details */
}

/* .painting-details {
  max-width: 300px; 
  
} */

.painting-description {
  margin: 0;
  font-size: 25px !important;
  font-weight: bold;
}



.painting-year,
.painting-dimensions {
  margin: 0;
  font-size: 20px !important;

}


















.footer-basic {
    padding:20px 0;
    color:navy;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }